* {
  font-family: 'Roboto', sans-serif;
}
.two-column-layout {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

.right-section {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px;
}


/* ButtonStyles.css */

/* Base styles for the button */
button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;  
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #333; /* Set the background color */
  color: #fff; /* Set the text color */
}

textarea {
  /* width: 100%; */
  min-width: 50px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: #fff; /* Set the background color to white */
  color: #333; /* Set the text color to black */
  font-weight: 200;
}

.left-section {
  padding: 10px;
}